@font-face {
  font-family: 'Tilt Neon Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource-variable/tilt-neon/files/tilt-neon-latin-full-normal.woff2) format('woff2-variations');

}
