<template>
  <div class="add-user-id">
    <el-button
      type="success"
      class="add-user-id-button"
      :icon="CirclePlus"
      @click="openDialog()"
      >{{ $t("config.configClients.add.label") }}
    </el-button>
    <el-dialog
      v-model="dialogVisible"
      :title="$t('config.configClients.add.title')"
      fullscreen
      class="add-user-dialog"
    >
      <Sha1InputMask v-model="groupId" />

      <Keyboard
        row1chars="123AB"
        row2chars="456CD"
        row3chars="789EF"
        row4chars="0"
        :backspace-in-row="4"
        keyboard-no-intent-rows
        class="keyboard"
        @backspace="backspaceOnGroupId()"
        @key="addKeyToGroupId($event)"
      />

      <template #footer>
        <el-button @click="closeDialog"
          >{{ $t("config.common.cancel.label") }}
        </el-button>
        <el-button type="success" @click="addAndClose()"
          >{{ $t("config.configClients.add.action-label") }}
        </el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { CirclePlus } from "@element-plus/icons-vue";
import { ElButton, ElDialog } from "element-plus";
import Keyboard from "./Keyboard.vue";
import Sha1InputMask from "./Sha1InputMask.vue";
import { useSessionStore } from "../store/session.ts";

const emit = defineEmits<{
  (e: "added", value: string): void;
}>();

const sessionStore = useSessionStore();
const dialogVisible = ref(false);
const groupId = ref<string>("");

const backspaceOnGroupId = () => {
  groupId.value = groupId.value.slice(0, -1);
};

const addKeyToGroupId = (key: string) => {
  groupId.value.length < 36 && (groupId.value += key);
};

const openDialog = () => {
  groupId.value = sessionStore.who_is_busy_user_id_prefix;
  dialogVisible.value = true;
};

const closeDialog = () => {
  groupId.value = "";
  dialogVisible.value = false;
};

const addAndClose = async () => {
  emit("added", groupId.value);
  dialogVisible.value = false;
};
</script>

<style lang="scss" scoped>
.add-user-id {
  display: flex;
  flex: 1 1 auto;
  margin-right: 12px;
}

:deep(.add-user-dialog) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--el-border-color);

  .el-dialog__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column !important;
  }

  .keyboard {
    margin-top: 20px;

    .el-button {
      font-size: 2.5em;
      height: 50px;
    }
  }

  --el-component-size: 48px;
  --el-font-size-base: 2em;

  .el-input .el-input__count {
    font-size: 1em;
  }
}
</style>
