<template>
  <el-button class="config-button" :icon="icon"><slot></slot></el-button>
</template>

<script setup lang="ts">
import { ElButton } from "element-plus";
import { PropType } from "vue";

defineProps({
  icon: {
    type: Object as PropType<import("vue").Component>,
    default: undefined,
  },
});
</script>

<style scoped lang="scss">
.config-button {
  flex-direction: column;
  height: auto;
  font-size: 1.5em;

  --el-border-radius-base: 10px;
  padding: 16px 20px;

  :deep(.el-icon) {
    font-size: 3em;
  }

  :deep(> span) {
    padding-top: 10px;
  }
}
</style>
