<template>
  <div class="config-clients">
    <config-button
      class="config-clients__button"
      :icon="Iphone"
      @click="openDialog()"
      >{{ $t("config.configClients.button") }}</config-button
    >
    <el-dialog
      v-model="dialogVisible"
      :title="$t('config.configClients.title')"
      width="70vw"
      fullscreen
      class="config-dialog"
    >
      <el-scrollbar view-class="user-ids" always native>
        <div v-for="userId in userIds" :key="userId" class="user-id">
          <div>{{ userId }}</div>

          <el-button
            type="danger"
            :icon="Remove"
            @click="removeUserId(userId)"
          ></el-button>
        </div>
      </el-scrollbar>

      <template #footer>
        <AddUserId @added="addNewUser" />

        <el-button @click="close()">{{
          $t("config.common.cancel.label")
        }}</el-button>
        <el-button type="primary" @click="save()">{{
          $t("config.common.saveClose.label")
        }}</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { Iphone, Remove } from "@element-plus/icons-vue";
import { ElButton, ElDialog, ElScrollbar } from "element-plus";
import { useSessionStore } from "../store/session.ts";
import AddUserId from "./AddUserId.vue";
import ConfigButton from "./ConfigButton.vue";

const sessionStore = useSessionStore();
const dialogVisible = ref(false);
const userIds = ref<string[]>([]);

const openDialog = () => {
  userIds.value = sessionStore.who_is_busy_user_ids;
  dialogVisible.value = true;
};

const removeUserId = (userId: string) => {
  console.log("removeUserId", userId);
  userIds.value = userIds.value.filter((id) => id !== userId);
};

const addNewUser = (userId: string) => {
  userIds.value = [userId, ...userIds.value];
};

const save = async () => {
  sessionStore.who_is_busy_user_ids = userIds.value;
  await sessionStore.saveConfig();
  await sessionStore.readStatus();
  dialogVisible.value = false;
};

const close = () => {
  sessionStore.loadConfig();
  dialogVisible.value = false;
};
</script>

<style lang="scss" scoped>
.config-clients {
  display: inline-block;

  .config-clients__button {
    :deep(.el-icon) {
      transform: rotate(180deg);
    }
  }
}

:deep(.config-dialog) {
  display: flex;
  flex-direction: column;

  .el-dialog__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
  }

  .el-dialog__header {
    text-align: left;
  }

  .el-dialog__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .el-scrollbar {
    flex: 1 1 auto;
    max-height: 70vh;
  }

  .user-ids {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    .user-id {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        flex: 1 1 auto;
        font-size: 2em;
        font-family: monospace;
      }
    }
  }

  .el-button {
    height: 48px;
    font-size: 2em;
  }
}
</style>

<style lang="scss">
.el-select-dropdown__item {
  font-size: 2em;
  height: 48px;
}
</style>
