<template>
  <div class="config" @click="drawerOpen = true">
    <el-drawer
      v-model="drawerOpen"
      append-to-body
      direction="ttb"
      size="280px"
      :title="$t('config.title', { version: sessionStore.app_version })"
      class="config-drawer"
    >
      <ConfigGeneral />
      <ConfigClients />

      <template #footer>
        <div @click="drawerOpen = false">
          <el-icon class="config-gesture-helper--up"><ArrowUpBold /></el-icon>
        </div>
      </template>
    </el-drawer>
    <el-icon class="config-gesture-helper"><ArrowDownBold /></el-icon>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { ElDrawer, ElIcon } from "element-plus";
import { useSessionStore } from "../store/session.ts";
import ConfigClients from "./ConfigClients.vue";
import ConfigGeneral from "./ConfigGeneral.vue";
import { ArrowDownBold, ArrowUpBold } from "@element-plus/icons-vue";

const sessionStore = useSessionStore();
const drawerOpen = ref(false);
</script>

<style lang="scss" scoped>
.config {
  display: flex;
  justify-content: center;
  cursor: pointer;

  .config-gesture-helper {
    opacity: 0.3;
  }
}
</style>

<style lang="scss">
.config-drawer {
  .el-drawer__header {
    margin-bottom: 10px;
  }

  .el-drawer__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .el-drawer__footer {
    padding: 0;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: var(--el-drawer-padding-primary);
      padding-top: 10px;
      cursor: pointer;
      opacity: 0.3;
    }
  }
}
</style>
