<template>
  <div class="config-general">
    <config-button :icon="Setting" @click="openDialog()">{{
      $t("config.configGeneral.button")
    }}</config-button>
    <el-dialog
      v-model="dialogVisible"
      :title="$t('config.configGeneral.title')"
      width="70vw"
      fullscreen
      class="config-dialog"
    >
      <el-form label-width="170px" label-position="left">
        <el-form-item :label="$t('config.configGeneral.language.label')">
          <el-radio-group v-model="language">
            <el-radio
              v-for="lang in $i18n.availableLocales"
              :key="lang"
              :value="lang"
              size="large"
              border
              >{{
                $t("config.configGeneral.language.values." + lang)
              }}</el-radio
            >
          </el-radio-group>
        </el-form-item></el-form
      >

      <template #footer>
        <el-button @click="close()">{{
          $t("config.common.cancel.label")
        }}</el-button>
        <el-button type="primary" @click="save()">{{
          $t("config.common.saveClose.label")
        }}</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { Setting } from "@element-plus/icons-vue";
import {
  ElButton,
  ElDialog,
  ElForm,
  ElFormItem,
  ElRadio,
  ElRadioGroup,
} from "element-plus";
import { useSessionStore } from "../store/session.ts";
import ConfigButton from "./ConfigButton.vue";
import { i18n } from "../plugins/vue-i18n.ts";

const sessionStore = useSessionStore();
const dialogVisible = ref(false);

const language = ref(sessionStore.language);

const openDialog = () => {
  dialogVisible.value = true;
};

const save = async () => {
  sessionStore.language = language.value;
  await sessionStore.saveConfig();
  await sessionStore.readStatus();
  dialogVisible.value = false;
  i18n.locale.value = language.value;
};

const close = () => {
  sessionStore.loadConfig();
  dialogVisible.value = false;
};
</script>

<style lang="scss" scoped>
.config-general {
  display: inline-block;
}

:deep(.config-dialog) {
  display: flex;
  flex-direction: column;

  .el-dialog__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    .el-form {
      padding-top: 20px;
    }

    .el-form-item {
      align-items: center;
    }

    --el-font-size-base: 32px;
    .el-radio__input {
      transform: scale(1.5);
      transform-origin: left;
    }

    .el-radio {
      height: 48px;

      .el-radio__label {
        padding-left: 16px;
      }
    }
  }

  .el-dialog__header {
    text-align: left;
  }

  .el-dialog__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .el-button {
    height: 48px;
    font-size: 2em;
  }
}
</style>
