<template>
<div class="keyboard" :class="{'keyboard--intent-rows': !keyboardNoIntentRows }">
  <div v-if="row1visible" class="row">
    <el-button v-for="char in row1chars" :key="char" class="key" @click="emit('key', char)">{{ char }}</el-button>
    <el-button v-if="backspaceInRow === 1" class="key" :icon="Back" @click="emit('backspace')"></el-button>
  </div>
  <div v-if="row2visible" class="row">
    <el-button v-for="char in row2chars" :key="char" class="key" @click="emit('key', char)">{{ char }}</el-button>
    <el-button v-if="backspaceInRow === 2" class="key" :icon="Back" @click="emit('backspace')"></el-button>
  </div>
  <div v-if="row3visible"  class="row">
    <el-button v-for="char in row3chars" :key="char" class="key" @click="emit('key', char)">{{ char }}</el-button>
    <el-button v-if="backspaceInRow === 3" class="key" :icon="Back" @click="emit('backspace')"></el-button>
  </div>
  <div v-if="row4visible"  class="row">
    <el-button v-for="char in row4chars" :key="char" class="key" @click="emit('key', char)">{{ char }}</el-button>
    <el-button v-if="backspaceInRow === 4" class="key" :icon="Back" @click="emit('backspace')"></el-button>
  </div>
</div>
</template>

<script setup lang="ts">
import {ElButton} from "element-plus";
import {Back} from "@element-plus/icons-vue";

const emit = defineEmits<{
  (e: "key", value: string): void;
  (e: "backspace"): void;
}>();

defineProps({
  row1chars: {
    type: String,
    default: '1234567890',
    required: false,
  },
  row1visible: {
    type: Boolean,
    default: true,
    required: false,
  },
  row2chars: {
    type: String,
    default: 'QWERTYUIOP',
    required: false,
  },
  row2visible: {
    type: Boolean,
    default: true,
    required: false,
  },
  row3chars: {
    type: String,
    default: 'ASDFGHJKL',
    required: false,
  },
  row3visible: {
    type: Boolean,
    default: true,
    required: false,
  },
  row4chars: {
    type: String,
    default: 'ZXCVBNM',
    required: false,
  },
  row4visible: {
    type: Boolean,
    default: true,
    required: false,
  },
  backspaceInRow: {
    type: Number,
    default: 1,
    required: false,
  },
  keyboardNoIntentRows: {
    type: Boolean,
    default: false,
    required: false,
  },
});
</script>

<style lang="scss" scoped>
.keyboard {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 5px;

    .key {
      flex: 1 1 auto;

      + .key {
        margin-left: 0;
      }
    }
  }
}

.keyboard--intent-rows {
  .row {
    &:nth-child(even) {
      margin-left: 20px;
    }

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }
}

</style>