<template>
  <div class="sha1-input-mask">
    <el-input v-model="group1" class="inputfield" />
    <span>-</span>
    <el-input v-model="group2" class="inputfield" />
    <span>-</span>
    <el-input v-model="group3" class="inputfield" />
    <span>-</span>
    <el-input v-model="group4" class="inputfield" />
    <span>-</span>
    <el-input v-model="group5" class="inputfield" />
  </div>
</template>

<script setup lang="ts">
import { ref, watch} from "vue";
import { ElInput } from "element-plus";

const group1 = ref<string>("");
const group2 = ref<string>("");
const group3 = ref<string>("");
const group4 = ref<string>("");
const group5 = ref<string>("");

const emit = defineEmits<{
  (e: "update:modelValue", value: typeof props.modelValue): void;
}>();

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
    default: "",
  },
});

watch(() => props.modelValue, (value) => {
  const raw_sha1_string = value.replace(/-/g, "");
  group1.value = raw_sha1_string.slice(0, 8);
  group2.value = raw_sha1_string.slice(8, 12);
  group3.value = raw_sha1_string.slice(12, 16);
  group4.value = raw_sha1_string.slice(16, 20);
  group5.value = raw_sha1_string.slice(20, 32);
}, { immediate: true });

watch([group1, group2, group3, group4, group5], ([g1, g2, g3, g4, g5]) => {
  emit("update:modelValue", [g1, g2, g3, g4, g5].join("-"));
});
</script>

<style lang="scss" scoped>
.sha1-input-mask {
  display: flex;
  flex-direction: row;
  gap: 5px;

  :deep(.el-input__inner) {
    font-family: monospace !important;
    font-size: 1.05em;
  }

  .inputfield:nth-of-type(1) {
    flex-basis: 26%;
  }

  .inputfield:nth-of-type(2),
  .inputfield:nth-of-type(3),
  .inputfield:nth-of-type(4) {
    flex-basis: 15%;
  }

  .inputfield:nth-of-type(5) {
    flex-basis: 36.5%;
  }

  span {
    line-height: 46px;
    font-size: 1.5em;
    padding: 0 1px;
  }
}
</style>
