<template>
  <div class="status-generic">
    <h1><slot></slot></h1>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.status-generic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  h1 {
    font-family: "Tilt Neon Variable", system-ui;
    font-weight: 400;
    color: #555;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
</style>
