<template>
  <div class="status-donotdisturb">
    <h1>{{ $t("status.donotdisturb.title") }}</h1>
    <h2>{{ $t("status.donotdisturb.message") }}</h2>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
.status-donotdisturb {
  --neon-color: #ff0000;
  --neon-font-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  background:
    radial-gradient(#ff0000 0%, #710000 100%),
    url(../assets/background.jpg) no-repeat center center;
  background-blend-mode: multiply;
  background-size: cover;
  color: #dcdcdc;

  h1,
  h2 {
    font-family: "Tilt Neon Variable", system-ui;
    font-weight: 400;
    text-shadow:
      0 0 4px var(--neon-font-color),
      0 0 11px var(--neon-font-color),
      0 0 19px var(--neon-font-color),
      0 0 40px var(--neon-color),
      0 0 80px var(--neon-color),
      0 0 90px var(--neon-color),
      0 0 100px var(--neon-color),
      0 0 150px var(--neon-color);
    color: var(--neon-font-color);
    text-align: center;
  }

  h1 {
    transform: scale(4);
    margin-bottom: 70px;
  }

  h2 {
    transform: scale(2.3);
  }
}
</style>
