<template>
  <el-config-provider :locale="elementPlusLocale">
    <div class="container">
      <transition name="fade" mode="in-out">
        <status-available
          v-if="!updateInProgress && status === 'AVAILABLE'"
          class="container-state"
        />
        <status-donotdisturb
          v-else-if="!updateInProgress && status === 'DONOTDISTURB'"
          class="container-state"
        />
        <status-generic
          v-else-if="!updateInProgress && status === 'OFFLINE'"
          class="container-state"
          >{{ $t("status.offline.title") }}</status-generic
        >
        <status-generic v-else-if="updateInProgress" class="container-state">{{
          $t("status.updateInProgress.title")
        }}
        <el-button
            class="updateInProgress-cancel"
          @click="updateInProgress = false"
          >{{ $t("status.updateInProgress.cancel") }}</el-button>
        </status-generic>
        <status-generic v-else class="container-state">{{
          $t("status.unknown.title")
        }}</status-generic>
      </transition>
    </div>
    <Config class="config" />
  </el-config-provider>
</template>

<script setup lang="ts">
import { useSessionStore } from "./store/session.ts";
import { useIntervalFn } from "@vueuse/core";
import { computed, onMounted, ref } from "vue";
import { elementPlusLocale } from "./plugins/vue-i18n";
import {ElButton, ElConfigProvider} from "element-plus";
import { appWindow } from "@tauri-apps/api/window";
import { checkUpdate, installUpdate } from "@tauri-apps/api/updater";
import { relaunch } from "@tauri-apps/api/process";
import Config from "./components/Config.vue";
import StatusAvailable from "./components/StatusAvailable.vue";
import StatusDonotdisturb from "./components/StatusDonotdisturb.vue";
import StatusGeneric from "./components/StatusGeneric.vue";

const sessionStore = useSessionStore();

onMounted(async () => {
  await appWindow.show();
});

useIntervalFn(
  () => {
    sessionStore.readStatus();
  },
  2500,
  { immediate: true, immediateCallback: true },
);

const updateInProgress = ref(false);

useIntervalFn(async () => {
  if (updateInProgress.value) {
    return;
  }

  try {
    const update = await checkUpdate();
    if (update.shouldUpdate) {
      updateInProgress.value = true;
      await installUpdate();
      await relaunch();
    }
  } catch (e) {
    console.error(e);
  } finally {
    updateInProgress.value = false;
  }
}, 120000);

const status = computed(() => sessionStore.who_is_busy_last_status);
</script>

<style lang="scss" scoped>
.config {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 100px;
}

.container {
  position: relative;
  flex: 1 1 auto;

  .container-state {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
